.App {
  font-family: sans-serif;
  text-align: center;
}

li {
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin: 15px auto;
  border-bottom: 1px solid #aaa;
}
li.done {
  background-color: #eee;
  text-decoration: line-through;
}

li > .delete {
  border: 1px solid red;
  margin-left: 40px;
  width: 20px;
}

li > .finish-button {
  border: 1px solid black;
}